@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*!* TODO: use this nextjs theming template? *!*/
/*:root {*/
/*    --foreground-rgb: 0, 0, 0;*/
/*    --background-start-rgb: 214, 219, 220;*/
/*    --background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --foreground-rgb: 50, 255, 255;*/
/*        --background-start-rgb: 0, 0, 0;*/
/*        --background-end-rgb: 0, 0, 0;*/
/*    }*/
/*}*/

/*html {*/
/*    color: rgb(var(--foreground-rgb));*/
/*    background: linear-gradient(*/
/*            to bottom,*/
/*            transparent,*/
/*            rgb(var(--background-end-rgb))*/
/*    ) rgb(var(--background-start-rgb));*/
/*}*/

html body {
    min-height: 100vh;
}

h1, h2, h2 {
    text-align: center;
}

h1 {
    font-size: 31px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
    font-style: italic;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

.content-height {
    min-height: 90vh;
    height: calc(100% - 64px);
}

.page {
    margin: 16px 0;
    /*max-width: 960px;*/
    width: 100%;
    align-content: center;
}

@media screen and (min-width: 500px) {
    .page {
        /*margin: 16px;*/
    }
}

.nav, .footer {
    min-height: 15px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    z-index: 11;
}

.footer {
    bottom: -10px;
}

@media screen and (min-width: 500px) {
    .page {
        min-height: 30px;
    }
}

/* Overwrite of tailwind's default animation duration. */
.nav-item {
    transition-duration: 80ms;
    font-size: 14px;
}

@media screen and (min-width: 500px) {
    .nav {
        padding: 4px 12px;
    }

    .nav-item {
        font-size: 16px;
    }
}

/* Commented Rules disables my Webstorms inspection of variable usage that are outside of the project scope */
/*noinspection ALL*/
.light-nav {
    background: var(--chakra-colors-brand-200);
    border-bottom: 1px solid var(--chakra-colors-accent-500);
}

/*noinspection ALL*/
.light-footer {
    background: var(--chakra-colors-brand-200);
    border-top: 1px solid var(--chakra-colors-accent-500);
}

/*noinspection ALL*/
.dark-nav {
    background: var(--chakra-colors-brand-700);
    border-bottom: 1px solid var(--chakra-colors-accent-400);
}

/*noinspection ALL*/
.dark-footer {
    background: var(--chakra-colors-brand-700);
    border-top: 1px solid var(--chakra-colors-accent-400);
}

.tooltip, .external-link {
    font-weight: bold;
}

/* TODO: FIGURE OUT ACCENT COLORS*/
/*noinspection ALL*/
.tooltip {
    color: var(--chakra-colors-accent-200);
}

/*noinspection ALL*/
.external-link {
    color: var(--chakra-colors-accent-200);
    text-decoration: underline;
}

.external-link:hover {
    text-decoration: none;
}

/* TODO: what is this? */
.chakra-wrap__list {
    place-content: center;
}
